/* body.dark-theme {
  background-color: #121212;
  color: #f8f9fa;
}

.dark-theme .navbar {
  background-color: #121212 !important;
}

.dark-theme .movie-card {
  background-color: #1e1e1e;
  color: #f8f9fa;
  border: 1px solid #333;
}

.dark-theme .form-control {
  background-color: #333;
  color: #fff;
  border-color: #444;
}

.dark-theme .form-select {
  background-color: #333;
  color: #fff;
  border-color: #444;
}

.dark-theme .netflix-navbar {
  background-color: #141414 !important;
} */