.netflix-movie-row {
  background-color: var(--bg-color);
}

.netflix-row-title {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-bottom: 1rem;
  padding-left: 1rem;
}


.netflix-row-posters {
  display: flex;
  overflow-x: scroll; 
  overflow-y: hidden;
  padding: 0 1rem;
  gap: 1rem;
  scroll-behavior: smooth;

  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.netflix-row-posters::-webkit-scrollbar {
  display: none;
}

.netflix-row-posters::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
