.app {
  min-height: 100%;
  min-width: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}



.App-link {
  color: #61dafb;
}
